$background_color: darkslateblue;
$font-color: white;
$section_padding: 30px;
$heading_font_size: 20px;

footer {
    display: block;
    background-color: $background_color;
    padding: $section_padding;
    margin-top: 20px;
    font-size: $heading_font_size;
    color: $font_color;
}